body{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    color: #434343;
}

.bg-perso1 {
    background-color: #f4c118 !important;
}

.bg-perso2 {
    background-color: #4c5c64 !important;
}

.bg-perso3 {
    background-color: #e7e5d7 !important;
}

.bg-perso4 {
    background-color: #7d878c !important;
}

.color-perso1 {
    color: #f4c118 !important;
}

.color-perso2 {
    color: #4c5c64 !important;
}

.color-perso3 {
    color: #e7e5d7 !important;
}

.color-perso4 {
    color: #7d878c !important;
}

.opacity {
    opacity: 1;
}

h1 {
    font-family: 'Dancing Script', cursive !important;
    font-size: 40px !important;
}

.sub-title {
    font-family: 'ABeeZee', sans-serif !important;
    font-size: 20px !important;
}

h3, h5 {
    font-family: 'ABeeZee', sans-serif !important;
}

h3 {
    font-size: 30px !important;
}

nav a {
    font-size: 16px ;
}

nav a:hover {
    color: #f4c118 !important;
}

#footer a:hover {
    color: #f4c118 !important;
    text-decoration: none;
}

#new a:hover {
    color: #f4c118 !important;
    text-decoration: none;
}

input[type=number] {
    width: 60px !important;
}

#logo{
    width: 250 px;
    height: 81px;
}